In [1]:
labels=["NO","YES"]

In [2]:
from sklearn import preprocessing
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pandas as pd
data = pd.read_csv('diabetic1.csv',converters={49:lambda s: labels.index(s)})

In [4]:
data.shape

(65499, 50)

In [5]:
data.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,1
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,0
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,1
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,0
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,1
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,0
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,0

In [6]:
data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

<h3> data save </h3>

In [7]:
data1 = data

In [8]:
data1 = data1.drop(columns=['weight'])

In [9]:
data1 = data1.drop(columns=['payer_code'])

In [10]:
le = preprocessing.LabelEncoder()
le.fit(['Norm' ,'None', '>8', '>7'])
data1['A1Cresult']=le.transform(data1['A1Cresult'])

In [11]:
le = preprocessing.LabelEncoder()
le.fit(['Yes','No'])
data1['diabetesMed']=le.transform(data1['diabetesMed'])

In [12]:
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['insulin']=le.transform(data1['insulin'])

In [13]:
a = data1['diag_3']
count = 0
list1 = list()
for i in a:
    if(i.startswith('V') or i.startswith('E')):
        list1.append(i)
    count = count + 1
for i in list1:
    a = a.replace(i,"?")     
data1['diag_3'] = a

In [14]:
a = data1['diag_1']
count = 0
list1 = list()
for i in a:
    if(i.startswith('V') or i.startswith('E')):
        list1.append(i)
    count = count + 1
for i in list1:
    a = a.replace(i,"?")     
data1['diag_1'] = a

In [15]:
a = data1['diag_2']
count = 0
list1 = list()
for i in a:
    if(i.startswith('V') or i.startswith('E')):
        list1.append(i)
    count = count + 1
for i in list1:
    a = a.replace(i,"?")     
data1['diag_2'] = a

In [16]:
data1 = data1.replace("?",np.nan)
data1 = data1.dropna()
data1.shape

(34347, 48)

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(['Caucasian', 'AfricanAmerican', 'Hispanic', 'Others', 'Asian','Other'])
data1['race']=le.transform(data1['race'])

In [18]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(["Male" ,"Female", "Unknown/Invalid"])
data1['gender']=le.transform(data1['gender'])

In [19]:
le = preprocessing.LabelEncoder()
le.fit(['[70-80)', '[30-40)' ,'[50-60)', '[80-90)', '[60-70)' ,'[40-50)' ,'[90-100)',
 '[20-30)', '[10-20)', '[0-10)'])
data1['age']=le.transform(data1['age'])

In [20]:
#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
#le.fit(['None' ,'Norm', '>300', '>200'])
#new_a['max_glu_serum']=le.transform(new_a['max_glu_serum']) 
#trainx['max_glu_serum']=le.transform(trainx['max_glu_serum']) 
#testx['max_glu_serum']=le.transform(testx['max_glu_serum'])
le = preprocessing.LabelEncoder()
le.fit(['No' ,'Steady', 'Down' ,'Up'])
data1['metformin']=le.transform(data1['metformin']) 
#trainx['metformin']=le.transform(trainx['metformin']) 
#testx['metformin']=le.transform(testx['metformin'])
le = preprocessing.LabelEncoder()
le.fit(['No' ,'Steady', 'Down' ,'Up'])
data1['repaglinide']=le.transform(data1['repaglinide']) 
#trainx['repaglinide']=le.transform(trainx['repaglinide']) 
#testx['repaglinide']=le.transform(testx['repaglinide'])
le = preprocessing.LabelEncoder()
le.fit(['No' ,'Steady', 'Down' ,'Up'])
data1['nateglinide']=le.transform(data1['nateglinide']) 
#trainx['nateglinide']=le.transform(trainx['nateglinide']) 
#testx['nateglinide']=le.transform(testx['nateglinide'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['chlorpropamide']=le.transform(data1['chlorpropamide']) 
#trainx['chlorpropamide']=le.transform(trainx['chlorpropamide']) 
#testx['chlorpropamide']=le.transform(testx['chlorpropamide'])

In [21]:
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['glimepiride']=le.transform(data1['glimepiride']) 
#trainx['glimepiride']=le.transform(trainx['glimepiride']) 
#testx['glimepiride']=le.transform(testx['glimepiride'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['glipizide']=le.transform(data1['glipizide']) 
#trainx['glipizide']=le.transform(trainx['glipizide']) 
#testx['glipizide']=le.transform(testx['glipizide'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['glyburide']=le.transform(data1['glyburide'])
#trainx['glyburide']=le.transform(trainx['glyburide']) 
#testx['glyburide']=le.transform(testx['glyburide'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady'])
data1['tolbutamide']=le.transform(data1['tolbutamide']) 
#trainx['tolbutamide']=le.transform(trainx['tolbutamide']) 
#testx['tolbutamide']=le.transform(testx['tolbutamide'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['pioglitazone']=le.transform(data1['pioglitazone']) 
#trainx['pioglitazone']=le.transform(trainx['pioglitazone']) 
#testx['pioglitazone']=le.transform(testx['pioglitazone'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['rosiglitazone']=le.transform(data1['rosiglitazone']) 
#trainx['rosiglitazone']=le.transform(trainx['rosiglitazone']) 
#testx['rosiglitazone']=le.transform(testx['rosiglitazone'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['acarbose']=le.transform(data1['acarbose']) 
#trainx['acarbose']=le.transform(trainx['acarbose']) 
#testx['acarbose']=le.transform(testx['acarbose'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['miglitol']=le.transform(data1['miglitol']) 
#trainx['miglitol']=le.transform(trainx['miglitol']) 
#testx['miglitol']=le.transform(testx['miglitol'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady'])
data1['troglitazone']=le.transform(data1['troglitazone']) 
#trainx['troglitazone']=le.transform(trainx['troglitazone']) 
#testx['troglitazone']=le.transform(testx['troglitazone'])
le = preprocessing.LabelEncoder()
le.fit(['No','Steady'])
data1['tolazamide']=le.transform(data1['tolazamide']) 
#trainx['tolazamide']=le.transform(trainx['tolazamide']) 
#testx['tolazamide']=le.transform(testx['tolazamide'])

In [22]:
data1 = data1.drop(columns=['medical_specialty'])

In [23]:
data1 = data1.drop(columns=['acetohexamide','examide','citoglipton','glimepiride-pioglitazone', 'metformin-rosiglitazone'])

In [24]:
data1 = data1.drop(columns=['max_glu_serum'])

In [25]:
dupes=data1.duplicated()
sum(dupes)

0

<h1>Criteion="gini"</h1>

<h2> max_features="auto"</h2>

In [26]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size=0.2)
trainx = pd.DataFrame(train[['number_inpatient']])
trainy = train['readmitted']                           
testx = pd.DataFrame(test[['number_inpatient']])
testy = test['readmitted']
print(trainx.shape,trainy.shape,testx.shape,testy.shape)

(52399, 1) (52399,) (13100, 1) (13100,)

In [27]:
list1 = list()
list2 = list()
from sklearn.ensemble import RandomForestClassifier
for val in range(1,15,1):
    rf = RandomForestClassifier(n_estimators = val,criterion="gini",max_features="auto")
    rf.fit(trainx, trainy)
    from sklearn.metrics import accuracy_score
    predictions = rf.predict(testx)
    accuracy = accuracy_score(testy, predictions)
    print("Number of Trees",val)
    print("Accuracy",accuracy)
    list1 = list1 + [accuracy]
    list2 = list2 + [val]

Number of Trees 1
Accuracy 0.6061068702290077
Number of Trees 2
Accuracy 0.6061068702290077
Number of Trees 3
Accuracy 0.6061068702290077
Number of Trees 4
Accuracy 0.6059541984732825
Number of Trees 5
Accuracy 0.6061068702290077
Number of Trees 6
Accuracy 0.6059541984732825
Number of Trees 7
Accuracy 0.6061068702290077
Number of Trees 8
Accuracy 0.6061068702290077
Number of Trees 9
Accuracy 0.6061068702290077
Number of Trees 10
Accuracy 0.6061068702290077
Number of Trees 11
Accuracy 0.6061068702290077
Number of Trees 12
Accuracy 0.6061068702290077
Number of Trees 13
Accuracy 0.6061068702290077
Number of Trees 14
Accuracy 0.6061068702290077

<h2> max_features="log2"</h2>

In [28]:
list1 = list()
list2 = list()
from sklearn.ensemble import RandomForestClassifier
for val in range(1,15,1):
    rf = RandomForestClassifier(n_estimators = val,criterion="gini",max_features="log2")
    rf.fit(trainx, trainy)
    from sklearn.metrics import accuracy_score
    predictions = rf.predict(testx)
    accuracy = accuracy_score(testy, predictions)
    print("Number of Trees",val)
    print("Accuracy",accuracy)
    list1 = list1 + [accuracy]
    list2 = list2 + [val]

Number of Trees 1
Accuracy 0.6059541984732825
Number of Trees 2
Accuracy 0.6061068702290077
Number of Trees 3
Accuracy 0.6059541984732825
Number of Trees 4
Accuracy 0.6059541984732825
Number of Trees 5
Accuracy 0.6061068702290077
Number of Trees 6
Accuracy 0.6061068702290077
Number of Trees 7
Accuracy 0.6061068702290077
Number of Trees 8
Accuracy 0.6059541984732825
Number of Trees 9
Accuracy 0.6061068702290077
Number of Trees 10
Accuracy 0.6061068702290077
Number of Trees 11
Accuracy 0.6061068702290077
Number of Trees 12
Accuracy 0.6061068702290077
Number of Trees 13
Accuracy 0.6061068702290077
Number of Trees 14
Accuracy 0.6061068702290077

<h1> Criterion="Entropy" </h1>

 <h2> max_features="auto"</h2>

In [29]:
list1 = list()
list2 = list()
from sklearn.ensemble import RandomForestClassifier
for val in range(1,15,1):
    rf = RandomForestClassifier(n_estimators = val,criterion="entropy")
    rf.fit(trainx, trainy)
    from sklearn.metrics import accuracy_score
    predictions = rf.predict(testx)
    accuracy = accuracy_score(testy, predictions)
    print("Number of Trees",val)
    print("Accuracy",accuracy)
    list1 = list1 + [accuracy]
    list2 = list2 + [val]

Number of Trees 1
Accuracy 0.6061068702290077
Number of Trees 2
Accuracy 0.6059541984732825
Number of Trees 3
Accuracy 0.6061068702290077
Number of Trees 4
Accuracy 0.6061068702290077
Number of Trees 5
Accuracy 0.6061068702290077
Number of Trees 6
Accuracy 0.6061068702290077
Number of Trees 7
Accuracy 0.6059541984732825
Number of Trees 8
Accuracy 0.6061068702290077
Number of Trees 9
Accuracy 0.6061068702290077
Number of Trees 10
Accuracy 0.6061068702290077
Number of Trees 11
Accuracy 0.6061068702290077
Number of Trees 12
Accuracy 0.6061068702290077
Number of Trees 13
Accuracy 0.6059541984732825
Number of Trees 14
Accuracy 0.6061068702290077

<h2> max_features="log2"</h2>

In [30]:
list1 = list()
list2 = list()
from sklearn.ensemble import RandomForestClassifier
for val in range(1,15,1):
    rf = RandomForestClassifier(n_estimators = val,criterion="entropy",max_features="log2")
    rf.fit(trainx, trainy)
    from sklearn.metrics import accuracy_score
    predictions = rf.predict(testx)
    accuracy = accuracy_score(testy, predictions)
    print("Number of Trees",val)
    print("Accuracy",accuracy)
    list1 = list1 + [accuracy]
    list2 = list2 + [val]

Number of Trees 1
Accuracy 0.6061068702290077
Number of Trees 2
Accuracy 0.6061068702290077
Number of Trees 3
Accuracy 0.6061068702290077
Number of Trees 4
Accuracy 0.6061068702290077
Number of Trees 5
Accuracy 0.6061068702290077
Number of Trees 6
Accuracy 0.6061068702290077
Number of Trees 7
Accuracy 0.6061068702290077
Number of Trees 8
Accuracy 0.6061068702290077
Number of Trees 9
Accuracy 0.6061068702290077
Number of Trees 10
Accuracy 0.6061068702290077
Number of Trees 11
Accuracy 0.6061068702290077
Number of Trees 12
Accuracy 0.6061068702290077
Number of Trees 13
Accuracy 0.6061068702290077
Number of Trees 14
Accuracy 0.6061068702290077

<h3> data1 </h3>

In [31]:
'A1Cresult','number_emergency', 'number_inpatient','number_outpatient','race',

('A1Cresult',
 'number_emergency',
 'number_inpatient',
 'number_outpatient',
 'race')

In [32]:
data1.shape

(34347, 41)

In [33]:
data1.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide',
       'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol',
       'troglitazone', 'tolazamide', 'insulin', 'glyburide-metformin',
       'glipizide-metformin', 'metformin-pioglitazone', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [34]:
data1 = data1.drop(columns=['metformin-pioglitazone'])

In [35]:
data1 = data1.drop(columns=['patient_nbr'])

In [36]:
data1 = data1.drop(columns=['encounter_id'])

In [37]:
data1 = data1.drop(columns=['admission_source_id'])

In [38]:
data1 = data1.drop(columns=['number_inpatient','number_outpatient'])

In [39]:
data1 = data1.drop(columns=['admission_type_id'])

In [40]:
data1.shape

(34347, 34)

In [41]:
count = 0
for i in data1.columns:
    if(isinstance(data1.iloc[0][i],str)):
        print(i)
        print(data1[i].unique())
        count = count + 1
print(count)

diag_1
['434' '428' '682' '427' '996' '411' '414' '151' '715' '410' '38' '590'
 '707' '536' '440' '578' '250.6' '250.4' '250.32' '255' '997' '558' '599'
 '250.7' '402' '486' '584' '244' '250.03' '574' '577' '730' '786' '250.8'
 '562' '291' '276' '510' '401' '263' '295' '438' '511' '70' '722' '560'
 '182' '642' '491' '571' '250.42' '807' '456' '518' '572' '575' '250.41'
 '250.02' '820' '515' '296' '780' '995' '235' '250.82' '721' '787' '724'
 '282' '250.83' '250.13' '281' '530' '466' '250.12' '998' '593' '648'
 '566' '822' '191' '557' '432' '435' '733' '403' '455' '482' '202' '493'
 '280' '789' '154' '250.22' '441' '250.81' '962' '592' '507' '386' '728'
 '618' '426' '569' '337' '82' '531' '812' '225' '596' '824' '656' '433'
 '492' '808' '958' '969' '196' '112' '404' '823' '532' '346' '162' '453'
 '535' '250' '595' '303' '286' '852' '218' '540' '189' '285' '188' '431'
 '340' '550' '351' '601' '723' '555' '153' '443' '380' '204' '211' '424'
 '198' '241' '564' '694' '331' '345' '250.33' '681' '290' '158' '579'
 '436' '335' '309' '654' '799' '292' '183' '851' '288' '738' '311' '54'
 '892' '305' '293' '415' '591' '711' '794' '250.11' '79' '398' '586' '573'
 '429' '278' '658' '598' '585' '444' '553' '727' '552' '41' '458' '644'
 '437' '8' '174' '784' '277' '968' '805' '632' '185' '782' '359' '423'
 '781' '368' '522' '737' '294' '825' '135' '304' '626' '250.31' '669'
 '868' '496' '826' '567' '3' '203' '680' '729' '459' '251' '220' '250.1'
 '457' '157' '297' '663' '250.43' '355' '287' '250.2' '611' '348' '413'
 '840' '350' '726' '661' '537' '620' '447' '512' '366' '11' '751' '250.3'
 '197' '464' '836' '664' '283' '821' '922' '332' '289' '965' '604' '480'
 '972' '212' '788' '625' '924' '199' '621' '238' '714' '250.23' '47' '508'
 '844' '850' '333' '7' '42' '250.5' '233' '253' '600' '494' '716' '39'
 '659' '312' '614' '647' '652' '462' '646' '274' '284' '425' '527' '451'
 '783' '485' '217' '250.53' '959' '193' '160' '999' '475' '623' '374'
 '576' '568' '608' '376' '446' '461' '785' '641' '478' '556' '353' '420'
 '942' '227' '506' '320' '298' '873' '180' '465' '534' '362' '341' '242'
 '442' '239' '616' '5' '989' '853' '845' '361' '78' '594' '802' '810'
 '210' '421' '528' '205' '791' '983' '172' '622' '719' '306' '863' '864'
 '349' '474' '607' '660' '759' '416' '300' '790' '634' '967' '430' '732'
 '171' '370' '252' '801' '846' '164' '365' '718' '533' '250.92' '720'
 '161' '565' '396' '53' '344' '275' '170' '878' '813' '977' '250.93' '843'
 '939' '860' '551' '516' '617' '991' '226' '483' '9' '150' '156' '935'
 '200' '800' '262' '145' '581' '685' '710' '655' '117' '35' '920' '481'
 '519' '34' '179' '136' '389' '155' '334' '143' '917' '94' '88' '152'
 '184' '747' '717' '994' '207' '637' '195' '490' '373' '847' '323' '223'
 '992' '310' '627' '513' '228' '736' '378' '342' '886' '250.01' '745'
 '357' '934' '261' '307' '473' '882' '324' '986' '610' '633' '640' '454'
 '693' '796' '369' '966' '753' '570' '383' '379' '445' '756' '945' '619'
 '705' '394' '526' '643' '250.52' '866' '405' '916' '495' '215' '797'
 '893' '987' '75' '514' '906' '897' '725' '580' '867' '115' '734' '674'
 '521' '834' '146' '696' '214' '487' '980' '691' '142' '879' '861'
 '250.51' '246' '848' '695' '250.21' '524' '237' '964' '955' '653' '149'
 '245' '735' '883' '230' '792' '854' '933' '952' '388' '708' '192' '970'
 '838' '194' '216' '27' '318' '921' '471' '683' '891' '448' '175' '602'
 '382' '187' '141' '706' '272' '201' '375' '417' '463' '385' '358' '816'
 '470' '936' '880' '588' '709' '914' '314' '746' '173' '692' '57' '240'
 '250.9' '384' '865' '163' '360' '452' '327' '842' '645' '793' '665' '944'
 '923' '412' '815' '976' '299' '97']
diag_2
['198' '250.43' '411' '174' '428' '585' '410' '999' '250.01' '496' '427'
 '196' '424' '780' '250.6' '401' '413' '867' '285' '276' '403' '486' '8'
 '250.02' '788' '440' '250' '250.03' '340' '574' '998' '581' '530' '786'
 '511' '493' '567' '785' '512' '305' '707' '425' '250.51' '280' '648'
 '414' '70' '444' '38' '578' '491' '571' '997' '599' '560' '426' '584'
 '402' '272' '34' '881' '203' '250.41' '250.13' '293' '250.12' '787' '342'
 '573' '303' '250.53' '710' '415' '569' '729' '682' '112' '292' '277'
 '435' '996' '535' '250.93' '642' '319' '711' '446' '41' '255' '242'
 '250.7' '300' '562' '287' '447' '790' '591' '250.82' '518' '250.52' '135'
 '304' '852' '250.83' '733' '162' '575' '482' '382' '456' '577' '572' '78'
 '250.81' '576' '432' '244' '53' '288' '295' '204' '466' '721' '153' '590'
 '271' '813' '368' '250.5' '492' '258' '253' '309' '515' '789' '250.91'
 '434' '157' '284' '290' '333' '396' '420' '250.92' '345' '250.4' '433'
 '537' '722' '405' '416' '437' '784' '714' '211' '397' '250.23' '294'
 '201' '301' '723' '614' '197' '568' '724' '189' '297' '453' '730' '278'
 '536' '202' '412' '354' '781' '462' '150' '738' '805' '218' '715' '358'
 '220' '958' '553' '794' '564' '436' '250.22' '620' '621' '263' '617'
 '596' '378' '250.8' '625' '731' '451' '286' '681' '558' '507' '470' '279'
 '281' '443' '250.42' '799' '337' '311' '250.11' '719' '404' '480' '199'
 '348' '42' '583' '473' '490' '317' '332' '508' '600' '331' '349' '485'
 '208' '922' '296' '753' '478' '386' '728' '191' '873' '850' '352' '513'
 '607' '223' '291' '438' '185' '592' '423' '791' '598' '362' '155' '217'
 '298' '429' '716' '250.9' '465' '138' '696' '275' '357' '595' '618'
 '250.1' '601' '531' '481' '380' '570' '359' '519' '911' '727' '532' '557'
 '718' '726' '441' '604' '580' '241' '782' '824' '459' '282' '550' '701'
 '344' '565' '383' '458' '820' '431' '905' '79' '646' '921' '131' '389'
 '154' '593' '705' '421' '336' '623' '299' '959' '394' '40' '377' '691'
 '626' '736' '5' '814' '746' '250.31' '283' '274' '306' '552' '918' '882'
 '520' '188' '356' '737' '151' '322' '182' '517' '974' '912' '252' '608'
 '695' '200' '516' '94' '611' '680' '702' '923' '594' '510' '365' '343'
 '430' '487' '808' '807' '796' '616' '398' '977' '556' '346' '915' '756'
 '455' '840' '725' '647' '528' '501' '522' '783' '919' '273' '172' '494'
 '483' '31' '566' '452' '906' '454' '826' '823' '226' '844' '250.33' '615'
 '588' '663' '706' '289' '713' '533' '372' '233' '861' '586' '214' '684'
 '205' '717' '869' '110' '543' '351' '821' '627' '810' '965' '924' '457'
 '995' '845' '751' '461' '323' '472' '464' '250.32' '709' '117' '652' '54'
 '227' '659' '802' '422' '325' '463' '920' '992' '692' '484' '934' '521'
 '369' '693' '579' '741' '193' '524' '173' '136' '758' '238' '335' '137'
 '225' '312' '837' '355' '475' '500' '324' '754' '261' '891' '11' '250.21'
 '694' '734' '130' '246' '892' '846' '634' '75' '183' '442' '163' '514'
 '747' '860' '832' '602' '812' '644' '35' '152' '376' '801' '266' '540'
 '477' '656' '883' '698' '842' '664' '952' '527' '851' '792' '320' '27'
 '232' '245' '990' '156' '308' '495' '793' '610' '327' '555' '250.2' '745'
 '864' '963' '314' '645' '686' '374' '712' '748' '96' '395' '262' '654'
 '381' '318' '307' '641' '603']
diag_3
['486' '250.6' '427' '250' '414' '250.01' '401' '278' '428' '553' '276'
 '250.8' '250.7' '250.52' '411' '581' '420' '496' '730' '131' '250.82'
 '707' '424' '41' '493' '786' '263' '518' '250.02' '303' '560' '711' '8'
 '492' '332' '425' '794' '296' '438' '789' '362' '250.4' '654' '244' '403'
 '599' '996' '681' '250.51' '404' '810' '280' '440' '785' '569' '272'
 '997' '250.43' '918' '584' '54' '250.41' '788' '416' '722' '250.92' '998'
 '461' '535' '787' '891' '284' '648' '250.03' '780' '182' '285' '593'
 '426' '664' '682' '564' '201' '356' '413' '292' '782' '715' '784' '455'
 '357' '348' '531' '250.23' '714' '459' '733' '507' '525' '250.53' '437'
 '572' '805' '305' '736' '402' '591' '576' '465' '703' '349' '658' '331'
 '578' '716' '382' '282' '571' '536' '585' '596' '250.42' '644' '558'
 '458' '38' '288' '491' '729' '836' '300' '295' '443' '799' '281' '304'
 '153' '616' '250.83' '601' '291' '75' '512' '660' '250.5' '598' '574'
 '653' '255' '562' '415' '197' '386' '397' '625' '602' '790' '511' '112'
 '873' '196' '436' '155' '999' '138' '663' '710' '42' '250.91' '515' '307'
 '704' '453' '728' '731' '583' '441' '293' '287' '573' '532' '342' '290'
 '595' '319' '433' '250.12' '519' '346' '380' '135' '642' '698' '294'
 '924' '412' '905' '555' '482' '309' '565' '752' '781' '530' '446' '444'
 '344' '577' '490' '252' '35' '311' '301' '473' '258' '746' '337' '881'
 '724' '139' '250.81' '718' '620' '365' '202' '218' '185' '517' '435'
 '533' '614' '466' '626' '250.9' '368' '605' '883' '410' '289' '478' '617'
 '429' '70' '610' '557' '345' '313' '379' '79' '198' '821' '242' '373'
 '592' '253' '959' '706' '396' '340' '656' '590' '934' '394' '694' '203'
 '709' '250.93' '726' '923' '275' '211' '199' '665' '920' '791' '890'
 '286' '456' '122' '721' '423' '802' '793' '238' '647' '537' '351' '845'
 '274' '945' '494' '227' '162' '208' '174' '812' '608' '447' '692' '552'
 '389' '240' '53' '907' '600' '270' '568' '266' '245' '607' '355' '705'
 '372' '369' '611' '575' '398' '310' '251' '250.2' '820' '712' '343' '567'
 '228' '273' '623' '807' '618' '701' '34' '314' '472' '434' '189' '534'
 '333' '277' '452' '816' '670' '621' '250.13' '246' '783' '646' '298'
 '840' '641' '521' '529' '719' '619' '792' '506' '259' '151' '594' '695'
 '696' '566' '727' '745' '737' '582' '191' '965' '921' '477' '524' '652'
 '723' '432' '442' '188' '825' '732' '908' '951' '962' '378' '685' '693'
 '250.1' '204' '323' '110' '969' '680' '697' '200' '738' '655' '308' '528'
 '725' '241' '405' '457' '917' '239' '661' '892' '487' '261' '627' '943'
 '744' '796' '318' '867' '522' '967' '350' '9' '170' '659' '579' '919'
 '462' '742' '909' '78' '713' '708' '150' '157' '250.11' '464' '271'
 '250.22' '543' '882' '94' '906' '445' '861' '801' '995' '970' '813' '256'
 '243' '823' '481' '299' '454' '851' '220' '922' '354' '384' '205' '824'
 '556' '366' '871' '604' '233' '358' '797' '172' '451' '421' '852' '972'
 '260' '747' '717' '916' '753' '686' '173' '193' '154' '347' '862' '586'
 '283' '847' '987' '470' '262' '516' '161' '115' '179' '383' '306' '17'
 '460' '265' '359' '163' '815' '870' '225' '514' '910' '944' '844' '756'
 '417' '152' '734' '991' '164' '335' '360' '485' '312' '297' '872' '377'
 '860' '195' '588' '826' '11' '317' '171' '868' '915' '117' '570' '808'
 '192' '754' '327' '741' '500' '992' '831' '751' '850' '235' '501' '956'
 '334' '341' '361' '720' '279' '674' '374' '226']
glyburide-metformin
['No' 'Steady' 'Up' 'Down']
glipizide-metformin
['No' 'Steady']
change
['Ch' 'No']
6

In [42]:
le = preprocessing.LabelEncoder()
le.fit(['No','Steady','Down','Up'])
data1['glyburide-metformin']=le.transform(data1['glyburide-metformin'])

In [43]:
le = preprocessing.LabelEncoder()
le.fit(['No','Steady'])
data1['glipizide-metformin']=le.transform(data1['glipizide-metformin'])
le = preprocessing.LabelEncoder()
le.fit(['Ch','No'])
data1['change']=le.transform(data1['change'])

In [44]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# load data
array1 = data1.values
X = array1[:,0:33]
Y = array1[:,33]
Y = Y.astype('int')
# feature extraction
test = SelectKBest(score_func=chi2, k=7)
fit = test.fit(X, Y)
# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features[0:6,:])

[3.745e+00 4.161e+00 7.551e+00 5.325e+01 2.213e+02 7.275e+01 6.420e+01
 1.803e+02 1.209e+03 4.076e+01 4.427e-01 1.687e+03 3.024e+02 3.643e-01
 2.946e+00 5.581e-01 3.991e-02 8.713e-04 4.393e-02 1.457e-01 2.425e-03
 3.899e-01 3.697e-01 6.078e-02 2.373e-02 3.602e-05 2.344e+00 4.094e+00
 3.231e-01 9.030e-03 8.532e-01 3.685e+01 3.691e+01]
[[ 12.    33.     3.    18.     0.   486.     8.  ]
 [  7.    60.     0.    15.     1.   250.6    8.  ]
 [ 10.    55.     1.    31.     0.   427.     8.  ]
 [  3.    29.     0.    11.     0.   250.     3.  ]
 [  6.    64.     3.    18.     0.   414.     7.  ]
 [  2.    25.     2.    11.     0.   250.01   3.  ]]

In [45]:
idxs_selected = test.get_support(indices=True)
# Create new dataframe with only desired columns, or overwrite existing
features_dataframe_new = data1.columns[idxs_selected]
features_dataframe_new

Index(['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_emergency', 'diag_3', 'number_diagnoses'],
      dtype='object')

In [46]:
data34 = data1[['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_emergency', 'diag_3', 'number_diagnoses','readmitted']]
data34.head()

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_3,number_diagnoses,readmitted
9,12,33,3,18,0,486,8,0
12,7,60,0,15,1,250.6,8,1
13,10,55,1,31,0,427,8,0
17,3,29,0,11,0,250,3,0
26,6,64,3,18,0,414,7,0

In [47]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data1,test_size=0.2)
trainx = pd.DataFrame(train[['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_emergency', 'diag_3', 'number_diagnoses']])
trainy = train['readmitted']                           
testx = pd.DataFrame(test[['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_emergency', 'diag_3', 'number_diagnoses']])
testy = test['readmitted']
print(trainx.shape,trainy.shape,testx.shape,testy.shape)

(27477, 7) (27477,) (6870, 7) (6870,)

In [49]:
list1 = list()
list2 = list()
from sklearn.ensemble import RandomForestClassifier
for val in range(1,15,1):
    rf = RandomForestClassifier(n_estimators = val,criterion="entropy",max_features="auto")
    rf.fit(trainx, trainy)
    from sklearn.metrics import accuracy_score
    predictions = rf.predict(testx)
    accuracy = accuracy_score(testy, predictions)
    print("Number of Trees",val)
    print("Accuracy",accuracy)
    list1 = list1 + [accuracy]
    list2 = list2 + [val]

Number of Trees 1
Accuracy 0.5126637554585153
Number of Trees 2
Accuracy 0.5423580786026201
Number of Trees 3
Accuracy 0.5377001455604076
Number of Trees 4
Accuracy 0.5525473071324599
Number of Trees 5
Accuracy 0.5448326055312955
Number of Trees 6
Accuracy 0.5524017467248908
Number of Trees 7
Accuracy 0.5493449781659389
Number of Trees 8
Accuracy 0.5522561863173217
Number of Trees 9
Accuracy 0.5443959243085881
Number of Trees 10
Accuracy 0.548471615720524
Number of Trees 11
Accuracy 0.5448326055312955
Number of Trees 12
Accuracy 0.5547307132459971
Number of Trees 13
Accuracy 0.5489082969432314
Number of Trees 14
Accuracy 0.5636098981077147

<h1> SVM </h1>

In [48]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data1,test_size=0.2)
trainx = pd.DataFrame(train[['number_inpatient']])
trainy = train['readmitted']                           
testx = pd.DataFrame(test[[ 'number_inpatient']])
testy = test['readmitted']
print(trainx.shape,trainy.shape,testx.shape,testy.shape)

KeyError: "['number_inpatient'] not in index"

In [132]:
from sklearn import svm  
C = 1.0  # SVM regularization parameter
 # SVC with linear kernel
svc = svm.SVC(kernel='linear', C=C).fit(trainx, trainy)
y_pred = svc.predict(testx)
accuracy_score(testy, y_pred, normalize=True, sample_weight=None)

0.5922852983988355

In [133]:
 from sklearn import svm  
C = 20.0  # SVM regularization parameter
 # SVC with linear kernel
lin_svc = svm.LinearSVC(C=C).fit(trainx, trainy)
y_pred = lin_svc.predict(testx)
accuracy_score(testy, y_pred, normalize=True, sample_weight=None)

0.6109170305676855

In [134]:
from sklearn import svm  
C = 20.0  # SVM regularization parameter
 # SVC with linear kernel
rbf_svc = svm.SVC(kernel='rbf', gamma=0.7, C=C).fit(trainx, trainy)
y_pred = rbf_svc.predict(testx)
accuracy_score(testy, y_pred, normalize=True, sample_weight=None)

0.6109170305676855

In [140]:
 from sklearn import svm  
C = 1.0  # SVM regularization parameter
 # SVC with linear kernel
svc = svm.SVC(kernel='poly',degree=3, C=C).fit(trainx, trainy)
svc.score(testx,testy)
#y_pred = svc.predict(testx)
#accuracy_score(testy, y_pred, normalize=True, sample_weight=None)

0.5561863173216886